:root {
  --clr-bg: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  text-decoration: none;
}

@font-face {
  font-family: SFSquare;
  src: url("sf-square-head/SF\ Square\ Head\ Condensed.ttf");
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  font-family: Roboto, cursive;
  color: white;
  padding-right: 10rem;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.33333%, rgba(255, 255, 255, 0.4) 33.33333%, rgba(255, 255, 255, 0.4) 66.66666%, rgba(255, 255, 255, 0.6) 66.66666%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 66.66666%, rgba(0, 0, 255, 0.7) 66.66666%);

  background-size: 3px 3px;
  mix-blend-mode: multiply;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  overflow: hidden;
}

#rain-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  font-family: SFSquare;
  /* filter: blur(2px); */
}

.drop-line {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.drop-char {
  font-size: 4rem;
  color: white;
  margin: 3px 0;
  padding: 0;
  height: 36px;
}

.drop-line>.drop-char:not(:first-child, :nth-child(2), :nth-child(3)) {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
}

.container {
  margin: 5%;
  width: 100%;
  height: 100%;
}

nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 2rem;
}

nav>ul>li {
  margin: 1rem;
}